* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cart {
    padding: 0px 200px 0px 150px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 50px;
    position: relative;
    }

.grid {
    color: white;
    padding: 20px;
    
    width: 245px;
    height: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    font-weight: 500;
    border-radius: 15px;

    
}

.btn {
    width: 100%;
    padding-left: 150px;

}
.button {
    padding: 20px;
    background:white;
    width: 245px;
    justify-content: center;
    align-items: center;
    height: 150px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    overflow: hidden;
    font-weight: 500;
    border-radius: 15px;
    color: blue;
    margin-top: 20px;
    font-size: 50px;
    border: 1px dashed  blue;

    cursor: pointer;
    
}

.title {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 200px 0px 150px;
    
    margin-top: 100px;
}

.title h1 {
    font-size: 45px;
}


.title span {
    color: blue;
    text-decoration: underline;
}

.add {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding:0 0  50px ;
    position: absolute;
    top: 10%;
    left: 35%;
    display: none;

}
.add input {
    height: 60px;
    width: 440px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px 10px;
    font-size: 18px;
    color: black;
}
.add button {
    font-weight: 600;
    font-size: 20px;
    color: white;
    width: 440px;
    height: 60px;
    background-color: #0047FF;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #0340da;
}
button:active {
    background-color: #0533a6;
}
.add_wallet {
    font-weight: 700;
    font-size: 50px;
    padding: 150px 0 0;
}


