
tr {
    display: flex;
    gap: 105px;
    justify-content: space-between;
   
}

.table_container h2 {
    margin-bottom: 30px;
}

.cart_tr {
    display: flex;
    gap:186px;
}

.cart_th {
    margin-top: 10px;
}

.teble {
    margin-bottom: 20px;
}

.th {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.th_date{
    margin-left: -50px;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.table a {
    line-height: 110px;
}

.table{
    margin-left: 10%;
    width: 80%;
}

tbody tr {
    border-bottom:1px solid #c4c4c4;
    align-items: center;
    padding: 10px 0px ;
}